#loginFormContainer {
    margin-top: 4%;
    padding: 2%;
}

.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

#signupFormContainer {
    margin-top: 4%;
    padding: 2%;
}

.signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.signUpField {
    width: 100%;
}